.card-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 2rem;
    z-index: -2;
}

.card{
    margin: 20px;
    border: 2px solid #ededed;
    padding: 2px;
    width: 16rem;
    height: 17rem; 
    box-sizing: border-box; 
}

.Shoe-img{
    width: 251px;
}

.card-title{
    margin-bottom: 1rem;
}

.price{
    margin-bottom:1rem ;
    cursor: pointer;
}
.Admin-container{
    margin:20px;
    font-family: 'Arial', sans-serif;
    color: #555;

}
.label{
    display:flex;
    font-family: 'Arial', sans-serif;
    margin: 10px;
}
.input{
    width:12rem;
}